.container {
  padding: 0.75rem;
}

.footer_container {
  background-color: rgb(54, 54, 54);
  color: white;
}

.footer_section_title {
  font-weight: bold;
  font-size: 1.5vw;
}

.footer_inner {
  width: 100%;
  padding: 10%;
  z-index: 2;
  display: flex;
  margin: 10% 0px;
}

.phone_icon,
.email_icon {
  margin-right: 2%;
}

.facebook,
.instagram {
  margin: 0px 2%;
}

.footer_section_content {
  color: rgb(177, 164, 164);
  font-size: 1.2vw;
  margin: 2.5% 0px;
  font-weight: 400;
  opacity: 1;
}

.contact_section {
  color: rgb(177, 164, 164);
}

.contact_section a {
  text-decoration: none;
  color: rgb(177, 164, 164);
}

.android_image,
.ios_image {
  width: 100%;
}

.contact_section:hover {
  opacity: 0.75;
  color: rgb(136, 115, 115);
}

.ordered_list {
  font-size: 1.25vw;
}

.list {
  font-weight: 600;
  color: white;
}

.mobile_image {
  width: 135%;
  margin-top: -770%;
  margin-left: 350%;
}

.left_inner_mobile_image {
  width: 18%;
}

.inner_unordered_list {
  color: white;
  font-weight: 400;
}

.ordered_list li {
  margin: 5% 0px;
}

.soulbite_content {
  font-size: 1.5vw;
  line-height: 200%;
  padding: 10%;
  padding-top: 2%;
  color: rgb(7, 46, 83);
  font-weight: 400;
}

.heading-primary-sub {
  display: block;
  animation-name: moveInRight;
  animation-duration: 10s;
  animation-timing-function: ease;
}

@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.home_container {
  display: flex;
  width: 100%;
}

.home_left_inner,
.home_right_inner {
  background-color: rgb(185, 0, 0);
}

.home_left_inner {
  width: 60%;
  border-bottom-left-radius: 70%;
  padding-left: 15%;
  padding-top: 2.5%;
}

.home_right_inner {
  width: 40%;
}

.hand_image {
  width: 100%;
  margin-left: 10%;
  margin-top: -5%;
}

h1 {
  font-size: 3.75vw;
  font-weight: bold;
}

.heading_one {
  color: rgb(255, 175, 0);
}

.heading_two {
  color: white;
  margin-bottom: 10%;
}

h3 {
  font-size: 2.9vw;
  font-weight: 600;
}

.section_heading {
  font-size: 3vw;
  color: rgb(185, 0, 0);
  text-align: center;
  font-weight: 600;
}

.home_all_products_btn {
  margin-left: 17%;
  margin-bottom: 5%;
}

.all_products_btn {
  border: none;
  padding: 3%;
  opacity: 1;
  border-radius: 20px;
  color: rgb(185, 0, 0);
  background-color: white;
  border-color: rgb(185, 0, 0);
  font-size: 2vw;
  cursor: pointer;
  font-weight: 400;
}

.all_products_btn:hover {
  color: rgb(185, 0, 0);
  opacity: 0.9;
}

.devices_btns {
  text-align: end;
  display: flex;
  justify-content: flex-end;
}

.android_btn:hover,
.ios_btn:hover {
  color: white;
  opacity: 0.9;
}

.android_btn,
.ios_btn {
  font-weight: 400;
  opacity: 1;
  z-index: 1;
  font-size: 2vw;
  border: none;
  padding: 1.5%;
  width: 150px;
  background-color: rgb(54, 54, 54);
  color: white;
  border-radius: 20px;
  margin: 2%;
  cursor: pointer;
}

.features_heading {
  color: white;
}

.soulbite_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5% 0px;
}

.soulbite_left_inner {
  width: 50%;
}

.soulbite_left_left_image {
  width: 100%;
}

.soulbite_right_inner {
  width: 50%;
  z-index: 2;
}

.soulbite_heading {
  margin-top: 7.5%;
}

.vector_image {
  width: 100%;
  margin-left: 2.5%;
  margin-top: -57.5%;
}

.almonds_image {
  width: 100%;
  margin-left: -47.5%;
  margin-top: -57.5%;
  padding-right: 6%;
  padding-top: 6%;
  position: relative;
}

.features_container {
  width: 100%;
  background-color: green;
  display: flex;
  justify-content: space-between;
}

.left_inner {
  width: 60%;
}

.features_content {
  z-index: 1;
  position: relative;
}

.why_soulbite_content {
  color: rgb(7, 46, 83);
  font-weight: 400;
  font-size: 1.5vw;
  padding: 2.5% 20%;
  text-align: start;
  padding-right: 0px;
}

.bg_city_image {
  position: relative;
  width: 200%;
  margin-bottom: -76.5%;
  margin-left: -90%;
  margin-top: -122.5%;
}

.right_inner {
  width: 40%;
}

.delivery_image {
  width: 150%;
  margin-top: -35%;
  margin-bottom: -26%;
  margin-left: -37.5%;
}

.spices_image {
  width: 170%;
  margin-top: -95%;
  margin-left: -40%;
  margin-bottom: -60%;
  position: relative;
}

.why_soulbite_container {
  width: 100%;
  display: flex;
  background-color: rgb(255, 131, 0);
}

.why_soulbite_left_inner {
  width: 50%;
}

.why_soulbite_right_inner {
  width: 50%;
}

.why_soulbite_left_top_image {
  width: 50%;
}

.dal_image {
  width: 100%;
  margin-top: -60%;
  margin-left: -20%;
}

.biscuits_image {
  width: 100%;
  margin-bottom: -44%;
  margin-left: -20%;
  margin-top: -35%;
}

.why_soulbite_left_content {
  margin-top: -10%;
}

.why_soulbite_section_heading {
  color: white;
}

.rounded_inner {
  width: 100%;
  position: relative;
  background-color: rgb(234, 56, 0);
  border: 1px solid white;
  border-radius: 50%;
  left: 35%;
  top: 34%;
}

.milk_image {
  width: 140%;
  margin-top: -60%;
  margin-left: -30%;
}

.why_soulbite_left_bottom_image {
  position: relative;
  left: 0;
  bottom: -5%;
}

.carousel-cell {
  width: 100%;
}

/* cell number */
.carousel-cell:before {
  display: block;
}

.lSSlideOuter .lightSlider,
.lSSlideOuter .lSPager {
  padding-left: 5px;
  list-style: none outside none;
}

.box {
  width: 340px;
  border-radius: 20px;
  box-shadow: none;
}

.slide-img {
  height: 340px;
  margin-top: -15%;
  margin-left: 10%;
}

.slide-img img {
  border-radius: 15px;
}

.cat_heading {
  margin-top: 5%;
}

.slider {
  margin-top: -10.5%;
}

.category_name_rounded_orange,
.category_name_rounded_green {
  border-radius: 50%;
  width: 7.5rem;
  height: 7.5rem;
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: white;
  z-index: 1;
}

.category_name_rounded_green {
  background-color: green;
}

.rounded_orange,
.rounded_green {
  display: flex;
  position: relative;
}

.overlay {
  border-radius: 15px;
}

.overlay a {
  text-decoration: none;
  background-color: rgb(185, 0, 0);
  color: white;
}

.overlay a:hover {
  background-color: rgb(185, 0, 0);
}

.header_nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.header_logo {
  width: 25%;
  margin-bottom: -85%;
}

.logo_image {
  width: 100%;
  margin-top: -6.5%;
}

.slider {
  min-height: 100vh;
}

@media (max-width: 600px) {
  h1 {
    font-size: 4vw;
  }
  .devices_btns {
    margin-top: 7.5%;
    margin-left: 35%;
  }
  .android_btn,
  .ios_btn {
    width: 100px;
  }
  .home_right_inner {
    width: 50%;
  }
  .home_left_inner {
    width: 50%;
  }
  .box {
    width: 240px;
    border-radius: 20px;
  }
  .slide-img {
    height: 240px;
  }
  .slider {
    margin-top: -40%;
    margin-bottom: -20%;
  }
  .category_name_rounded_green,
  .category_name_rounded_orange {
    width: 35%;
    height: 3.75rem;
    font-size: x-small;
  }
  .header_logo {
    display: none;
  }
  .header_nav {
    text-align: center;
  }
  .mobile_image {
    margin-top: -800%;
  }
  .footer_inner {
    flex-direction: column;
    align-items: center;
  }
  .footer_items {
    text-align: center;
  }
  .box {
    width: 200px;
  }
  .slide-img {
    height: 200px;
  }
  .bg_city_image {
    margin-bottom: -80%;
  }
}

@media (min-width: 601px) and (max-width: 960px) {
  h1 {
    font-size: 3vw;
  }
  .home_all_products_btn {
    margin-top: 5%;
  }
  .devices_btns {
    margin-top: 5%;
    margin-left: 35%;
  }
  .android_btn,
  .ios_btn {
    width: 100px;
  }
  .header_logo {
    display: none;
  }
  .header_nav {
    text-align: center;
  }
  .bg_city_image {
    margin-bottom: -81.5%;
  }
  .delivery_image {
    margin-bottom: -29%;
  }
}

@media (min-width: 961px) and (max-width: 1280px) {
  h1 {
    font-size: 3vw;
  }
  .home_all_products_btn {
    margin-top: 5%;
  }
  .devices_btns {
    margin-top: 5%;
    justify-content: center;
  }
  .android_btn,
  .ios_btn {
    width: 100px;
  }
  .logo_image {
    margin-top: -9%;
  }
  .header_nav {
    text-align: center;
  }
  .bg_city_image {
    margin-bottom: -81%;
  }
  .delivery_image {
    margin-bottom: -27%;
  }
}
