.nav {
  flex: 1;
}

.container {
  padding: 2.5rem 0;
}

.company_title {
  color: rgb(147, 0, 0);
  display: flex;
  justify-content: flex-end;
  top: 24rem;
  left: 1.5rem;
}

.company_title_name {
  font-size: 240px;
}

.hand_image {
  z-index: 1;
}

h1 {
  font-size: 5vw;
}

.headings {
  padding-top: 3rem;
  padding-left: 15rem;
}

.heading_one {
  color: rgb(255, 175, 0);
}

.heading_two {
  color: white;
}

.soulbite_row,
.features_row,
.categories_row,
.why_soulbite_row {
  height: 40rem;
  padding: 3rem 0px;
}

.section_heading {
  font-size: 3vw;
  color: rgb(185, 0, 0);
  text-align: center;
}

.features_row {
  background-color: green;
}

.features_heading {
  color: white;
}

.category_items_row {
  display: flex;
  justify-content: space-between;
  padding: 0px 5rem;
  padding-top: 5rem;
}

.category_item {
  height: 15rem;
  position: relative;
  background-color: white;
  border-radius: 15px;
}

.category_name_rounded_green {
  border-radius: 50%;
  width: 7.5rem;
  height: 7.5rem;
  background-color: green;
  top: 5rem;
  left: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  color: white;
}

.category_name_rounded_orange {
  border-radius: 50%;
  width: 7.5rem;
  height: 7.5rem;
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  color: white;
  left: 15rem;
  top: -3rem;
}

.why_soulbite_row {
  background-color: rgb(255, 131, 0);
}

.why_soulbite_section_heading {
  color: white;
}

.why_soulbite_rounded {
  width: 45rem;
  height: 45rem;
  background-color: rgb(234, 56, 0);
  border-radius: 50%;
  left: 65vw;
  top: 5rem;
}

.footer_row {
  height: 45rem;
  background-color: rgb(54, 54, 54);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_row {
  height: 100vh;
  background-color: rgb(185, 0, 0);
  border-bottom-left-radius: 70%;
}

.almonds_image {
  left: -37vh;
  top: -65vh;
  z-index: 1;
}

.vector_image {
  top: -107vh;
  left: 2vw;
}

.image {
  width: 100%;
  height: 100%;
}

.delivery_image {
  top: -18rem;
  left: -8rem;
}

.spices_image {
  top: -100rem;
  left: 42.5vw;
}

.delivery,
.spices,
.milk,
.biscuits {
  width: 62.5rem;
}

.features_row {
  height: 37.75rem;
}

.dal_image {
  left: -5vw;
}

.milk_image {
  top: -27rem;
  left: -11rem;
}

.biscuits_image {
  left: -12.5vw;
}

.footer_cols {
  color: darkgrey;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  min-height: 15rem;
}

.footer_section_titles {
  font-weight: 800;
  color: white;
}

.download_app {
  width: 100%;
  margin-left: 0.75rem;
}

.app_image {
  cursor: pointer;
}

.devices_btns,
.products_btn_div {
  text-align: center;
  margin: 1rem 0px;
}

.headings_col {
  z-index: 1;
}

.products_btn {
  width: 15rem;
  height: 4rem;
  color: rgb(185, 0, 0);
  background-color: white;
  border-radius: 10px;
  border-color: rgb(185, 0, 0);
}

.products_btn:hover {
  color: rgb(185, 0, 0);
  background-color: white;
  border-color: rgb(185, 0, 0);
}

.android_btn,
.ios_btn {
  width: 10rem;
  height: 3rem;
  margin-right: 3rem;
  background-color: rgb(54, 54, 54);
  border-color: rgb(54, 54, 54);
  border-radius: 10px;
}

.android_btn:hover,
.ios_btn:hover {
  background-color: rgb(54, 54, 54);
  border-color: rgb(54, 54, 54);
}

.devices_btns {
  text-align: end;
  margin-top: 3rem;
  margin-right: 3rem;
}

.carousel_item {
  display: flex;
  justify-content: center;
}

.categories_row {
  height: 45rem;
}

.cat_images {
  border-radius: 10px;
}

.carousel-inner {
  overflow: visible;
}

.rounded_orange,
.rounded_green {
  left: -5rem;
  top: -3rem;
}

.rounded_green {
  position: relative;
  top: 3rem;
  display: flex;
  flex-direction: column-reverse;
}

.cat_item_col {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
}
